.about-me {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1024px;

  .bio {
    width: 100%;
    max-width: 1024px;
    flex-grow: 1;

    .card {
      display: flex;
      flex-direction: row;
      
      .media {
        padding: 24px;
        width: 400px;
        height: 300px;
      }

      .content {
        width: calc(100% - 400px);
        height: 300px;
      }
    }
  }

  .background {
    width: 100%;
    max-width: 1024px;
    flex-grow: 1;
    margin-top: 2rem;

    .card {
      display: flex;
      flex-direction: row;

      .video-content {
        padding: 0;
      }
    }
  }

  .activities {
    width: 100%;
    max-width: 1024px;
    flex-grow: 1;
    margin-top: 2rem;

    .column {
      flex-grow: 1;
      width: 100%;
      max-width: 1024px;
      .row {
        .card {
          display: flex;
          flex-direction: column;
          max-width: 500px;
          .media {
            height: 400px;
          }
        }
      }
    }
  }
}