.about-me {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1024px;

  .bio {
    width: 100%;
    max-width: 1024px;
    flex-grow: 1;

    .card {
      display: flex;
      flex-direction: row;
      
      .media {
        padding: 24px;
        width: 400px;
        height: 300px;
      }

      .content {
        width: calc(100% - 400px);
        height: 300px;
      }
    }
  }

  .background {
    width: 100%;
    max-width: 1024px;
    flex-grow: 1;
    margin-top: 2rem;

    .card {
      display: flex;
      flex-direction: column;
      width: 100%;
      .video-content {
        display: flex;
        flex-direction: row;
        padding: 0;
        align-content: center;
        align-items: center;
        .player {
          margin: 1rem;
        }

        .eqn {
          width: calc(100% - 600px);
        }
      }
    }
  }

  .activities {
    width: 100%;
    max-width: 1024px;
    flex-grow: 1;
    margin-top: 2rem;

    .column {
      flex-grow: 1;
      width: 100%;
      max-width: 1024px;
      .row {
        .medium-card {
          display: flex;
          flex-direction: column;
          max-width: 500px;
          .media {
            width: 500px;
            height: 400px;
          }
        }

        .long-card {
          display: flex;
          flex-direction: column;
          max-width: inherit;
          .media {
            width: 1024px;
            height: 700px;
          }
        }
      }
    }
  }
}