* {
    font-family: Roboto;
}

body {
    width: 100vw;
    height: 100vh;
}

pre {
    border: 1px solid #ccc;
    padding: 0.5rem;
}

blockquote {
    color: #666;
    margin: 0;
    padding-left: 3em;
    border-left: 0.5em #eee solid;
}

tr {
    border-top: 1px solid #c6cbd1;
    background: #fff;
}

th, td {
    padding: 6px 13px;
    border: 1px solid #dfe2e5;
}

table tr:nth-child(2n) {
    background: #f6f8fa;
}

img {
    max-width: 800px;
}

.index {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .app-bar {
        width: 100%;

        .title {
            flex-grow: 1;
        }
    }

    .introduction {
        width: 100%;
        max-width: 1024px;
        height: 576px;
        display: inherit;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        margin-top: 0.5rem;
        position: relative;

        .background-video {
            position: absolute;
            width: 100%;
            top: 0;
            left: 0;
        }

        .foreground-text {
            width: 100%;
            height: 100%;
            display: inherit;
            flex-direction: column;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 10;
            color: white;
            align-items: center;
            justify-content: center;            

            h1 {
                font-size: 5rem;
                margin: 0;
            }
        }
    }

    .project-overview {
        width: 100%;
        max-width: 1024px;
        display: flex;
        flex-direction: column;
        
        .title {
            margin-top: 0.5rem;
            margin-left: 0.5rem;
            font-weight: 700;
        }

        .project-grid {
            width: 100%;
            max-width: 1024px;
            flex-grow: 1;
            margin-top: 0.5rem;
            margin-bottom: 0.5rem;
        }

        .subtitle {
            margin-top: 0.5rem;
            margin-left: 0.5rem;
        }

        .logos {
            display:flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            margin-top: 0.5rem;
            margin-bottom: 0.5rem;

            img {
                max-height: 50px;
                margin-left: 0.1rem;
                margin-right: 0.1rem;
            }
        }
    }

    .content {
        width: 100%;
        max-width: 1024px;
        display: inherit;
        flex-direction: column;
    }
}


